.header{
  height: 50vw;
  margin: 30px auto;
  background: url('/header_img.png') no-repeat;
  background-size:contain;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header h2{
  align-self: start;
  animation: fadeIn 3s;
  font-weight:500;
  max-width: 50%;
  padding-top: 15px;
  padding-left: 50px;
  color: white;
  font-size: max(4.5vw,22px);
  margin-top: 2%;
}
.header p{
  color: white;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 50%;
  align-self: start;
}
.header button{
  border: none;
  align-self: start;
  margin-top: 120px;
  color: #747474;
  font-weight: 500;
  padding: 10px;
  margin-left: 50px;
  background: white;
  font-size: max(1vw,13px);
  border-radius: 50px;
}
 @media (max-width:1200px) {
  .header{
    margin: 0;
    height: 50vw;
    padding: 0;
   }

   .header button{
    align-self: center;
    margin-top: -15px;
    margin-left: 0px;
    padding: 10px 4px;
    }
  
} 

@media (max-width:964px) {
  .header{
    margin: 0;
    height: 50vw;
    padding: 0;
   }

   .header button{
    align-self: center;
    margin-top: -15px;
    margin-left: 0px;
    }

    .header p{
      font-size: medium;
   
   }

  
} 


@media(max-width:600px){

  .header{
   margin: 0;
   height: 50vw;
   padding: 0;
  }
  .header h2{
    font-size: x-large;
    padding-left: 2%;
    max-width: 70%;
  }

  .header p{
     display: none;
  
  }

  .header button{
  align-self: center;
  margin-left: 10px;
  margin-top: 0px;
  padding: 7px;
  font-size: x-small;
  }

}

@media((width < 700px) and (width >600px)){

  .header p{
  font-size: small;
 }

 .header button{
  position: absolute;
  top: 160px;
 }


}

@media(max-width:800px){

  .header{
   margin: 0;
   height: 50vw;
   padding: 0;
  }
  .header h2{
    font-size: x-large;
    max-width: 70%;
  }
  .header p{
  width: 100%;
 
 }

}